* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

button, input, select {
  border: none;
  outline: none;
}

.container {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #27AE60;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-big {
  font-weight: 400;
  font-size: 20px;
  padding: 13.5px 26px;
}

@media screen and (max-width: 540px) {
  .btn-big {
    font-size: 16px;
  }
}

@media screen and (max-width: 340px) {
  .btn-big {
    font-size: 11px;
    padding: 10px 20px;
  }
}