.register {
  background-color: #EEEEEE;
  background-image: url('../../images/form-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
}

.register__inner {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__form {
  max-width: 460px;
  max-height: 355px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px;
}

.register__form-title {
  font-size: 35px;
  font-weight: 100;
  color: #555555;
  margin-bottom: 22px;
}

.register__form-input {
  width: 100%;
  padding: 11.5px 20px;
  font-size: 20px;
  font-weight: 100;
  background: #F5F5F5;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.register__form-input + * {
  margin-top: 10px;
}

.register__form-input + button {
  margin-top: 20px;
}

.select {
  position: relative;
  width: 100%;
  border: none;
  background: #F5F5F5;
  
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  display: flex;
  cursor: pointer;
  padding: 11.5px 20px;
}

.select__icon {
  width: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
}

.select__body {
  position: absolute;
  display: none;
  max-height: 152px;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  background: #F5F5F5;
}

.select__body::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(85, 85, 85, 0.2);
}

.select__body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 6px;
}

.select__item {
  padding: 11.5px 20px;
  border-bottom: 1px solid #C4C4C4;
  cursor: pointer;
}
.select__item:hover {
  background: #e2e2e2;
}

.select__item:last-child {
  border-bottom: none;
}

.select__current {
  font-size: 20px;
}

@media screen and (max-width: 540px) {
  .register__form {
    padding: 30px 30px;
  }
  .register__form-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 340px) {
  .register__form-input {
    font-size: 11px;
  }
  .select__current {
    font-size: 11px;
  }
}