.slider {
  position: relative;
  background-color: #EEEEEE;
}

.slider__inner {
  position: relative;
  padding: 0 20px;
  height: 420px;
  z-index: 999;
} 

.slider__prev, .slider__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slider__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider__dots {
  position: absolute;
  bottom: 8px;
  left: 43%;
  text-align: center;
}

.slider__dots-item {
  bottom: 8px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(44, 62, 80, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slider__dots-item:hover {
  background-color: #2C3E50;
}

.slider__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  margin-top: 59px;
  margin-right: 120px;
}

.slider__content-title {
  font-size: 55px;
  font-weight: 100;
  color: #555555;
  line-height: 1.65;
  max-width: 383px;
  margin-bottom: 35px;
}

.slider__slide {
  position: absolute;
  width: 100%;
  top: 0;
  display: none;
}

.slider__slide-img {
  vertical-align: middle;
  width: 100%;
  height: 420px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 780px) {
  .slider__content {
    position: absolute;
    top: 15%;
    right: 15%;
    margin: 0;
  }
  .slider__content-title {
    font-size: 45px;
    color:rgb(0, 0, 0);
  }
}

@media screen and (max-width: 540px) {
  .slider__content {
    height: 100%;
    width: 100%;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider__content-title {
    max-width: 200px;
    font-size: 24px;
    font-weight: 900;
  }
  .slider__dots {
    left: 35%;
  }
}